// Header
.header {
    background-color: white;
    box-shadow: 0px 1.6666666269302368px 8.333333015441895px 0px rgba(0, 0, 0, 0.15);

    .row {
        height: 108px;
    }

    .logo {
        display: inline-block;
        font-size: 0;

        img {
            width: 107px;
            min-width: 70px;
        }
    }

    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        visibility: hidden;
        opacity: 0;
        transition-property: opacity, visibility;
        transition: 0.4s linear;
    }

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .menu {
            .cancel-icon {
                display: none;
            }

            .menu-list {
                display: flex;
            }

            .menu-item {
                padding: 0px 25px;

                .menu-link {
                    font-weight: 600;
                }

                &.active {
                    .menu-link {
                        color: $primaryColor;
                        border-bottom: 2px solid $primaryColor;
                        padding-bottom: 47px;
                    }
                }

                &:hover {
                    .menu-link {
                        color: $primaryColor;
                        transition: color 0.2s linear;
                    }
                }
            }
        }

        .cart-icon,
        .search-icon {
            display: inline-block;
            padding: 0px 25px;
            font-size: 0;

            img {
                width: 25px;
                height: 22.3px;
            }
        }

        .cart-icon {
            position: relative;

            span {
                display: inline-block;
                position: absolute;
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                background-color: #E05000;
                border-radius: 50%;
                top: -8px;
                right: 16px;
            }
        }

        .search-icon {
            padding-right: 0px;
        }
    }

    .menu-toggle {
        display: none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

// End Header


// Hero
.hero {
    margin-top: 108px;

    .hero-content {
        .hero-sub-heading {
            font-size: 3.6rem;
            font-weight: 800;
            line-height: 1.3;
            margin-bottom: 12px;
        }

        .hero-heading {
            font-size: 4.3rem;
            font-weight: 800;
            width: 382px;
            margin-bottom: 26.67px;
        }

        .hero-desc {
            width: 450px;
        }
    }

    .hero-background {
        position: relative;
        width: 49vw;
        max-width: 49vw;
        height: 85vh;
        background-color: $primaryColorLight;
        border-radius: 17px 0 0 17px;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -80px;
        }

        .hero-background__text {
            position: absolute;
            font-size: 16.6rem;
            font-weight: 800;
            line-height: 100%;
            color: #216000;
            opacity: 0.15000000596046448;
            top: 50%;
            right: -75px;
            transform: translateY(-50%) rotate(90deg);
            width: 555px;
        }
    }
}

// End Hero


// --------------------------------------------------------------------------------
// Responsive
// --------------------------------------------------------------------------------

@media screen and (max-width: 1399.98px) {
    .hero {
        .hero-content {
            .hero-sub-heading {
                font-size: 3.2rem;
            }

            .hero-heading {
                font-size: 3.8rem;
                margin-bottom: 20px;
            }
        }

        .hero-background {
            img {
                width: 350px;
            }

            .hero-background__text {
                font-size: 12rem;
                width: 400px;
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .hero {
        .column-order-1 {
            order: 2;
        }

        .column-order-2 {
            order: 1;
        }

        .hero-background {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 80px;
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 17px;
            margin-bottom: 30px;

            .hero-background__text,
            img {
                position: static;
                transform: none;
            }

            .hero-background__text {
                font-size: 10rem;
                width: max-content;
            }
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .hero-heading {
                width: auto;
            }

            .hero-desc {
                width: 1000px;
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991.98px) {

    // Header
    .header {
        .header-nav {
            .menu {
                visibility: hidden;
                position: fixed;
                top: 0px;
                left: 0px;
                bottom: 0px;
                padding-top: 50px;
                background-color: white;
                opacity: 0;
                transform: translateX(-100%);
                transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
                box-shadow: 5px 0px 25px 0px rgba(216, 241, 203, 0.6);

                .cancel-icon {
                    position: absolute;
                    display: initial;
                    top: 25px;
                    right: 25px;
                    transform: translateX(-50%);
                    cursor: pointer;
                    font-size: 2.2rem;
                    color: $primaryColor;
                }

                .menu-list {
                    display: block;
                    width: 300px;

                    .menu-item {
                        padding: 0 0 35px 40px;

                        &.active {
                            .menu-link {
                                padding-bottom: 0;
                                border: 0;
                            }
                        }
                    }
                }
            }

            .cart-icon {
                padding: 0px;

                span {
                    right: -7px;
                }
            }
        }

        .menu-toggle {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            font-size: 2.5rem;
            padding-left: 25px;
        }

        .toggle:checked {
            ~.overlay {
                visibility: visible;
                opacity: 1;
                z-index: 2;
            }

            ~.header-nav {
                .menu {
                    visibility: visible;
                    transform: translateX(0%);
                    opacity: 1;
                    z-index: 3;
                }
            }
        }
    }

    // Hero
    .hero {
        .hero-background {
            justify-content: center;

            .hero-background__text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media screen and (max-width: 767.98px) {

    // Hero
    .hero {
        .hero-background {
            .hero-background__text {
                font-size: 6rem;
            }
        }

        .hero-content {
            .hero-sub-heading {
                font-size: 2.6rem;
            }

            .hero-heading {
                font-size: 3rem;
            }

            .hero-desc {
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 575px) {

    // Hero
    .hero {
        .hero-background {
            .hero-background__text {
                font-size: 4rem;
            }
        }

        .hero-content {
            .hero-sub-heading {
                font-size: 2.2rem;
            }

            .hero-heading {
                font-size: 2.6rem;
            }
        }
    }
}