* {
	box-sizing: border-box;
}

.container {
	position: relative;
	margin: 50px 50px 0px 50px;
}

.carousel {
	border-radius: 15px;
	overflow-x: hidden;
	aspect-ratio: 16 / 9;
	scroll-behavior: auto;
	scroll-behavior: smooth;
}
.carousel.dragging {
	cursor: grab;
	scroll-behavior: auto;
}

.carousel-inner {
	white-space: nowrap;
	height: 100%;
	font-size: 0;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.carousel-btn i {
	width:50px;
	height:50px;
	line-height:50px;
	border-radius: 99px;
	background-color: rgba(215, 164, 141, 0.3);
	text-align: center;
	font-size: 18px;
	color: rgb(227, 157, 127);
}

.carousel-btn span {
	position: absolute;
	cursor: pointer;
	top: 50%;
	padding: 5px;
	background-color: white;
	border-radius: 99px;
}

.carousel-btn .prev {
	left: 0;
	translate: -50% -50%;
}
.carousel-btn .next {
	right: 0;
	translate: 50% -50%;
}

.carousel-dots {
	position: absolute;
	left: 50%;
	translate: -50%;
	bottom: 20px;
}

.carousel-dots .dot {
	display: inline-block;
	padding: 5px;
	background-color: white;
	margin-right: 15px;
	border-radius: 99px;
	cursor: pointer;
	transition: padding-right 0.4s linear;
}

.carousel-dots .dot.active {
	padding-right: 25px;
}

.carousel-dots .dot:last-child {
	margin-right: 0;
}


.wrapper {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid black;
}

.wrapper .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50px;
}

@media screen and (max-width: 700px) {
	.container {
		margin: 20px 20px 0px 20px;
	}

	.carousel {
		aspect-ratio: 1 / 1;
	}

	.carousel-btn i {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	
	.carousel-btn span {
		padding: 3px;
	}

	.carousel-dots {
		bottom: 15px;
	}	

	.carousel-dots .dot {
		padding: 3px;
		margin-right: 10px;
	}
}