@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  color: #2C2C2C;
  line-height: 1.25;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.container {
  --container-width: 1200px;
  max-width: var(--container-width);
}

.flexbox {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.achievement .achievement-heading {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3;
}

.header {
  background-color: white;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .row {
  height: 108px;
}
.header .logo {
  display: inline-block;
  font-size: 0;
}
.header .logo img {
  width: 107px;
  min-width: 60px;
}
.header .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition: 0.4s linear;
}
.header .header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-nav .menu .cancel-icon {
  display: none;
}
.header .header-nav .menu .menu-list {
  display: flex;
}
.header .header-nav .menu .menu-list .menu-item {
  padding: 0px 25px;
}
.header .header-nav .menu .menu-list .menu-link {
  position: relative;
  display: inline-block;
  font-weight: 600;
  height: 108px;
  line-height: 108px;
  overflow: hidden;
  transition: color 0.3s linear;
}
.header .header-nav .menu .menu-list .menu-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0px;
  transform: translateX(-100%);
  background-color: #46B20F;
  transition: transform 0.3s linear;
}
.header .header-nav .menu .menu-list .menu-link.active {
  color: #46B20F;
}
.header .header-nav .menu .menu-list .menu-link.active::before {
  opacity: 1;
  transform: translateX(0);
}
.header .header-nav .menu .menu-list .menu-link:hover {
  color: #46B20F;
}
.header .header-nav .menu .menu-list .menu-link:hover::before {
  transform: translateX(0);
  opacity: 1;
}
.header .header-nav .cart-icon,
.header .header-nav .search-icon {
  display: inline-block;
  padding: 0px 25px;
  font-size: 0;
}
.header .header-nav .cart-icon img,
.header .header-nav .search-icon img {
  width: 25px;
  height: 22.3px;
}
.header .header-nav .cart-icon {
  position: relative;
}
.header .header-nav .cart-icon span {
  display: inline-block;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #E05000;
  border-radius: 50%;
  top: -8px;
  right: 16px;
}
.header .header-nav .search-icon {
  padding-right: 0px;
}
.header .menu-toggle {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 991.98px) {
  .header .header-nav .menu {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 50px;
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s;
    box-shadow: 5px 0px 25px 0px rgba(216, 241, 203, 0.6);
  }
  .header .header-nav .menu .cancel-icon {
    position: absolute;
    display: initial;
    top: 25px;
    right: 25px;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 2.2rem;
    color: #46B20F;
  }
  .header .header-nav .menu .menu-list {
    display: block;
    width: 300px;
  }
  .header .header-nav .menu .menu-list .menu-item {
    padding: 0 0 30px 40px;
  }
  .header .header-nav .menu .menu-list .menu-link {
    height: auto;
    line-height: 1.4;
    padding-bottom: 10px;
  }
  .header .header-nav .cart-icon {
    padding: 0px;
  }
  .header .header-nav .cart-icon span {
    right: -7px;
  }
  .header .menu-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 2.5rem;
    padding-left: 25px;
  }
  .header .toggle:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .header .toggle:checked ~ .header-nav .menu {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
    z-index: 3;
  }
}
.footer {
  background-color: #F2FFEC;
  padding: 66.67px 0px 26.67px 0px;
}
.footer .footer-top {
  margin-bottom: 72.5px;
}
.footer .footer-top .footer-brand img {
  width: 120px;
  margin-bottom: 20px;
}
.footer .footer-top .footer-brand .footer-brand-desc {
  width: 192px;
}
.footer .footer-top .footer-brand .footer-brand-desc span {
  font-size: 1.3rem;
}
.footer .footer-top .footer-list .footer-list-heading {
  font-size: 1.65rem;
  font-weight: 600;
  color: #46B20F;
  margin-bottom: 13px;
}
.footer .footer-top .footer-list .footer-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.footer .footer-top .footer-list .footer-list-item img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.footer .footer-top .footer-list .footer-list-item .interactive {
  width: 177px;
  max-width: 100%;
}
.footer .footer-bottom .footer-bottom-line {
  height: 2px;
  width: 100%;
  background-color: #A3A3A3;
  margin-bottom: 25px;
}
.footer .footer-bottom .footer-bottom-list .verify-icon img {
  width: 174px;
}
.footer .footer-bottom .footer-bottom-list .social-media {
  display: flex;
  align-items: center;
}
.footer .footer-bottom .footer-bottom-list .social-media .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #DCFFCA;
  margin-left: 6.67px;
}
.footer .footer-bottom .footer-bottom-list .social-media .social-icon img {
  width: 22px;
}

@media screen and (max-width: 1199.98px) {
  .footer .footer-top {
    margin-bottom: 92px;
  }
  .footer .footer-top .footer-brand .footer-brand-desc {
    width: auto;
  }
  .footer .footer-top .footer-brand .footer-brand-desc span {
    font-size: 1.6rem;
  }
  .footer .footer-top .footer-brand,
  .footer .footer-top .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer .footer-top .footer-brand .footer-list-item,
  .footer .footer-top .footer-list .footer-list-item {
    margin-bottom: 12px;
  }
  .footer .footer-top .footer-brand .footer-list-item .interactive,
  .footer .footer-top .footer-list .footer-list-item .interactive {
    width: auto;
  }
  .footer .footer-top .footer-brand .footer-list-item.last-item,
  .footer .footer-top .footer-list .footer-list-item.last-item {
    margin-bottom: 0;
  }
  .footer .footer-top .final-list {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
  .footer .footer-top .footer-list .footer-list-item .interactive {
    width: 177px;
    max-width: 100%;
  }
  .footer .footer-bottom .footer-bottom-line {
    height: 2px;
    width: 100%;
    background-color: #A3A3A3;
    margin-bottom: 25px;
  }
  .footer .footer-bottom .footer-bottom-list .footer-bottom-col.justify-content-end,
  .footer .footer-bottom .footer-bottom-list .footer-bottom-col {
    display: flex;
    justify-content: center;
  }
  .footer .footer-bottom .footer-bottom-list .footer-bottom-col.justify-content-end {
    margin-top: 30px;
  }
}
.heading-page {
  position: relative;
  margin-top: 108px;
  height: 167px;
  line-height: 167px;
  margin-bottom: 100px;
}
.heading-page h1 {
  font-size: 4.3rem;
  font-weight: 700;
}
.heading-page::before {
  content: "";
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  background-color: #F2FFEC;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1199.98px) {
  .heading-page h1 {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 767.98px) {
  .heading-page h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 575px) {
  .heading-page {
    text-align: center;
  }
  .heading-page h1 {
    font-size: 3rem;
  }
}
.achievement {
  text-align: center;
  margin-bottom: 100px;
}
.achievement .achievement-heading {
  display: inline-block;
  width: 558px;
  max-width: 100%;
  margin-bottom: 24.33px;
}
.achievement .achievement-desc {
  display: inline-block;
  width: 644px;
  max-width: 100%;
  margin-bottom: 30px;
}
.achievement .achievement-list {
  height: 597px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.achievement .achievement-list .space {
  width: 1200px;
  max-width: 1200px;
}
.achievement .achievement-list::before, .achievement .achievement-list::after {
  content: "";
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  z-index: -1;
}
.achievement .achievement-list::before {
  top: 0px;
  left: 0px;
  background-color: #DCFFCA;
}
.achievement .achievement-list::after {
  background-color: #FFD5BD;
  bottom: 0;
  right: 0;
}
.achievement .achievement-list .achievement-block {
  padding: 33.33px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
  text-align: left;
  width: 294px;
}
.achievement .achievement-list .achievement-block .certificate-img {
  width: 83.3px;
  margin-bottom: 23.33px;
}
.achievement .achievement-list .achievement-block .achievement-quantity {
  font-size: 4.3rem;
  font-weight: 800;
  margin-bottom: 23.33px;
}
.achievement .achievement-list .achievement-block .achievement-customer {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 25.5px;
}
.achievement .achievement-list .spc-col .achievement-block {
  width: 343px;
  padding: 60px 33.33px;
}

@media screen and (max-width: 1199.98px) {
  .achievement .achievement-list .achievement-block {
    width: 231px;
    padding: 23px;
  }
  .achievement .achievement-list .achievement-block .achievement-quantity {
    font-size: 3.7rem;
  }
  .achievement .achievement-list .achievement-block .achievement-customer {
    font-size: 1.8rem;
  }
  .achievement .achievement-list .spc-col .achievement-block {
    padding: 50px 23px;
    width: 280.05px;
  }
}
@media screen and (max-width: 991.98px) {
  .achievement .achievement-desc {
    margin-bottom: 120px;
  }
  .achievement .achievement-list {
    display: block;
    height: auto;
  }
  .achievement .achievement-list::before, .achievement .achievement-list::after {
    display: none;
  }
  .achievement .achievement-list .space {
    width: auto;
  }
  .achievement .achievement-list .achievement-block {
    text-align: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 25px;
  }
  .achievement .achievement-list .achievement-block .achievement-customer {
    padding-bottom: 0;
  }
  .achievement .achievement-list .spc-col .achievement-block {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .achievement .achievement-heading {
    font-size: 2.8rem;
  }
  .achievement .achievement-desc {
    text-align: justify;
  }
  .achievement .achievement-list .achievement-block .achievement-quantity {
    font-size: 3rem;
  }
  .achievement .achievement-list .achievement-block .achievement-customer {
    font-size: 1.6rem;
  }
}
.introduce {
  margin-bottom: 100px;
  text-align: center;
}
.introduce .introduce-heading {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 25px;
}
.introduce .introduce-list {
  text-align: left;
}
.introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:first-child,
.introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:last-child {
  display: flex;
}
.introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:first-child {
  justify-content: flex-start;
}
.introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:last-child {
  justify-content: flex-end;
}
.introduce .introduce-list .introduce-list-col:nth-child(2) .introduce-item-col:first-child {
  order: 2;
  justify-content: flex-end;
}
.introduce .introduce-list .introduce-list-col:nth-child(2) .introduce-item-col:first-child .introduce-item-content {
  width: 432px;
  max-width: 100%;
}
.introduce .introduce-list .introduce-list-col:nth-child(2) .introduce-item-col:last-child {
  order: 1;
  justify-content: flex-start;
}
.introduce .introduce-list .introduce-list-col:last-child .introduce-item {
  margin-bottom: 0;
}
.introduce .introduce-list .introduce-list-col:last-child .introduce-item .introduce-item-content {
  width: 370px;
}
.introduce .introduce-list .introduce-item {
  margin-bottom: 50px;
}
.introduce .introduce-list .introduce-item .introduce-item-content {
  display: inline-block;
  width: 377px;
  max-width: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
}

@media screen and (max-width: 991.98px) {
  .introduce .introduce-heading {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .introduce .introduce-list {
    text-align: center;
  }
  .introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:first-child,
  .introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:last-child {
    justify-content: center;
  }
  .introduce .introduce-list .introduce-list-col .introduce-item .introduce-item-col:first-child {
    margin-bottom: 50px;
  }
  .introduce .introduce-list .introduce-list-col:nth-child(even) .introduce-item-col:first-child {
    order: 1;
  }
  .introduce .introduce-list .introduce-list-col:nth-child(even) .introduce-item-col:last-child {
    order: 2;
  }
}
.banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 392px;
  margin-bottom: 100px;
  color: white;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6000000238);
  z-index: 0;
}
.banner .banner-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.banner .banner-content .banner-heading {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 50px;
}
.banner .banner-content .banner-desc {
  max-width: 780px;
  font-weight: 300;
  line-height: 1.4;
}
.banner .banner-content::before, .banner .banner-content::after {
  content: "";
  position: absolute;
  background-image: url(../../../Group-Image/icons/blockquote.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 112px;
  height: 87px;
}
.banner .banner-content::before {
  top: 40px;
  left: -140px;
}
.banner .banner-content::after {
  transform: rotate(180deg);
  bottom: -54px;
  right: -130px;
}

@media screen and (max-width: 1199.98px) {
  .banner .banner-content::before, .banner .banner-content::after {
    width: 56px;
    height: 43.5px;
  }
  .banner .banner-content::before {
    top: 60px;
    left: -65px;
  }
  .banner .banner-content::after {
    bottom: -15px;
    right: -65px;
  }
}
@media screen and (max-width: 991.98px) {
  .banner .banner-content::before, .banner .banner-content::after {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .banner {
    height: 450px;
  }
}
@media screen and (max-width: 575px) {
  .banner {
    height: 600px;
  }
  .banner .banner-heading {
    font-size: 2.6rem;
  }
  .banner .banner-desc {
    text-align: justify;
  }
}
.duty {
  margin-bottom: 100px;
}
.duty > .container {
  position: relative;
  min-height: 498px;
}
.duty > .container::before, .duty > .container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.duty > .container::before {
  width: 400px;
  height: 400px;
  background-color: #F2FFEC;
  left: 0px;
  top: 16%;
}
.duty > .container::after {
  width: 220px;
  height: 220px;
  background-color: #FFD5BD;
  left: 21%;
  bottom: 0;
}
.duty .duty-inner .duty-img {
  object-fit: cover;
  object-position: center;
  border-radius: 6.667px;
  width: 400px;
  height: 365px;
  box-shadow: -9.1666660309px 25.8333320618px 46.6666641235px rgba(0, 0, 0, 0.15);
}
.duty .duty-inner .duty-heading {
  margin-bottom: 26px;
  font-size: 3.2rem;
  font-weight: 800;
}
.duty .duty-inner .duty-desc {
  font-size: 1.3rem;
  line-height: 1.4;
  max-width: 394px;
}
.duty .duty-col {
  display: flex;
  justify-content: flex-end;
}
.duty .duty-col:last-child {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

@media screen and (max-width: 1199.98px) {
  .duty > .container::before {
    left: 15px;
  }
  .duty > .container::after {
    left: calc(21% + 15px);
  }
}
@media screen and (max-width: 991.98px) {
  .duty > .container::before, .duty > .container::after {
    display: none;
  }
  .duty .duty-inner .duty-img {
    margin-bottom: 30px;
  }
  .duty .duty-inner .duty-heading {
    text-align: center;
    font-size: 2.8rem;
  }
  .duty .duty-inner .duty-desc {
    text-align: justify;
    padding: 30px;
    background-color: #DCFFCA;
    border: 6.667px;
  }
  .duty .duty-col {
    display: flex;
    justify-content: center;
  }
  .duty .duty-col:last-child {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=styles-about.css.map */
