@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  color: #2C2C2C;
  line-height: 1.25;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.container {
  --container-width: 1200px;
}

.flexbox {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .row {
  height: 108px;
}
.header .logo {
  display: inline-block;
  font-size: 0;
}
.header .logo img {
  width: 107px;
  min-width: 70px;
}
.header .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition: 0.4s linear;
}
.header .header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-nav .menu .cancel-icon {
  display: none;
}
.header .header-nav .menu .menu-list {
  display: flex;
}
.header .header-nav .menu .menu-item {
  padding: 0px 25px;
}
.header .header-nav .menu .menu-item .menu-link {
  font-weight: 600;
}
.header .header-nav .menu .menu-item.active .menu-link {
  color: #46B20F;
  border-bottom: 2px solid #46B20F;
  padding-bottom: 47px;
}
.header .header-nav .menu .menu-item:hover .menu-link {
  color: #46B20F;
  transition: color 0.2s linear;
}
.header .header-nav .cart-icon,
.header .header-nav .search-icon {
  display: inline-block;
  padding: 0px 25px;
  font-size: 0;
}
.header .header-nav .cart-icon img,
.header .header-nav .search-icon img {
  width: 25px;
  height: 22.3px;
}
.header .header-nav .cart-icon {
  position: relative;
}
.header .header-nav .cart-icon span {
  display: inline-block;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #E05000;
  border-radius: 50%;
  top: -8px;
  right: 16px;
}
.header .header-nav .search-icon {
  padding-right: 0px;
}
.header .menu-toggle {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .header .header-nav .menu {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 50px;
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    box-shadow: 5px 0px 25px 0px rgba(216, 241, 203, 0.6);
  }
  .header .header-nav .menu .cancel-icon {
    position: absolute;
    display: initial;
    top: 25px;
    right: 25px;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 2.2rem;
    color: #46B20F;
  }
  .header .header-nav .menu .menu-list {
    display: block;
    width: 300px;
  }
  .header .header-nav .menu .menu-list .menu-item {
    padding: 0 0 35px 40px;
  }
  .header .header-nav .menu .menu-list .menu-item.active .menu-link {
    padding-bottom: 0;
    border: 0;
  }
  .header .header-nav .cart-icon {
    padding: 0px;
  }
  .header .header-nav .cart-icon span {
    right: -7px;
  }
  .header .menu-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 2.5rem;
    padding-left: 25px;
  }
  .header .toggle:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  .header .toggle:checked ~ .header-nav .menu {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
    z-index: 2;
  }
}

/*# sourceMappingURL=styles.css.map */
