@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  color: #2C2C2C;
  line-height: 1.25;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.container {
  --container-width: 1200px;
  max-width: var(--container-width);
}

.flexbox {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.achievement .achievement-heading {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3;
}

.header {
  background-color: white;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .row {
  height: 108px;
}
.header .logo {
  display: inline-block;
  font-size: 0;
}
.header .logo img {
  width: 107px;
  min-width: 60px;
}
.header .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition: 0.4s linear;
}
.header .header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-nav .menu .cancel-icon {
  display: none;
}
.header .header-nav .menu .menu-list {
  display: flex;
}
.header .header-nav .menu .menu-item {
  padding: 0px 25px;
}
.header .header-nav .menu .menu-item .menu-link {
  font-weight: 600;
}
.header .header-nav .menu .menu-item.active .menu-link {
  color: #46B20F;
  border-bottom: 2px solid #46B20F;
  padding-bottom: 47px;
}
.header .header-nav .menu .menu-item:hover .menu-link {
  color: #46B20F;
  transition: color 0.2s linear;
}
.header .header-nav .cart-icon,
.header .header-nav .search-icon {
  display: inline-block;
  padding: 0px 25px;
  font-size: 0;
}
.header .header-nav .cart-icon img,
.header .header-nav .search-icon img {
  width: 25px;
  height: 22.3px;
}
.header .header-nav .cart-icon {
  position: relative;
}
.header .header-nav .cart-icon span {
  display: inline-block;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #E05000;
  border-radius: 50%;
  top: -8px;
  right: 16px;
}
.header .header-nav .search-icon {
  padding-right: 0px;
}
.header .menu-toggle {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hero {
  margin: 108px 0 100px 0;
}
.hero .hero-content .hero-sub-heading {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 12px;
}
.hero .hero-content .hero-heading {
  font-size: 4.3rem;
  font-weight: 800;
  width: 382px;
  margin-bottom: 26.67px;
}
.hero .hero-content .hero-desc {
  width: 450px;
}
.hero .hero-background {
  position: relative;
  width: 49vw;
  max-width: 49vw;
  height: 85vh;
  background-color: #DCFFCA;
  border-radius: 17px 0 0 17px;
}
.hero .hero-background img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -80px;
}
.hero .hero-background .hero-background__text {
  position: absolute;
  font-size: 16.6rem;
  font-weight: 800;
  line-height: 100%;
  color: #216000;
  opacity: 0.150000006;
  top: 50%;
  right: -75px;
  transform: translateY(-50%) rotate(90deg);
  width: 555px;
}

.achievement {
  text-align: center;
}
.achievement .achievement-heading {
  display: inline-block;
  width: 558px;
  max-width: 100%;
  margin-bottom: 24.33px;
}
.achievement .achievement-desc {
  display: inline-block;
  width: 644px;
  max-width: 100%;
  margin-bottom: 30px;
}
.achievement .achievement-list {
  height: 597px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.achievement .achievement-list .space {
  width: 1200px;
  max-width: 1200px;
}
.achievement .achievement-list::before, .achievement .achievement-list::after {
  content: "";
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  z-index: -1;
}
.achievement .achievement-list::before {
  top: 0px;
  left: 0px;
  background-color: #DCFFCA;
}
.achievement .achievement-list::after {
  background-color: #FFD5BD;
  bottom: 0;
  right: 0;
}
.achievement .achievement-list .achievement-block {
  padding: 33.33px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
  text-align: left;
  width: 294px;
}
.achievement .achievement-list .achievement-block .certificate-img {
  width: 83.3px;
  margin-bottom: 23.33px;
}
.achievement .achievement-list .achievement-block .achievement-quantity {
  font-size: 4.3rem;
  font-weight: 800;
  margin-bottom: 23.33px;
}
.achievement .achievement-list .achievement-block .achievement-customer {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 25.5px;
}
.achievement .achievement-list .spc-col .achievement-block {
  width: 343px;
  padding: 60px 33.33px;
}

@media screen and (max-width: 1399.98px) {
  .hero .hero-content .hero-sub-heading {
    font-size: 3.2rem;
  }
  .hero .hero-content .hero-heading {
    font-size: 3.8rem;
    margin-bottom: 20px;
  }
  .hero .hero-background img {
    width: 350px;
  }
  .hero .hero-background .hero-background__text {
    font-size: 12rem;
    width: 400px;
  }
}
@media screen and (max-width: 1199.98px) {
  .hero .hero-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 17px;
  }
  .hero .hero-background .hero-background__text,
  .hero .hero-background img {
    position: static;
    transform: none;
  }
  .hero .hero-background .hero-background__text {
    font-size: 10rem;
    width: max-content;
  }
  .hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
  }
  .hero .hero-content .hero-heading {
    width: auto;
  }
  .hero .hero-content .hero-desc {
    width: 1000px;
    max-width: 100%;
  }
  .achievement .achievement-list .achievement-block {
    width: 231px;
    padding: 23px;
  }
  .achievement .achievement-list .achievement-block .achievement-quantity {
    font-size: 3.7rem;
  }
  .achievement .achievement-list .achievement-block .achievement-customer {
    font-size: 1.8rem;
  }
  .achievement .achievement-list .spc-col .achievement-block {
    padding: 50px 23px;
    width: 280.05px;
  }
}
@media screen and (max-width: 991.98px) {
  .header .header-nav .menu {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 50px;
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    box-shadow: 5px 0px 25px 0px rgba(216, 241, 203, 0.6);
  }
  .header .header-nav .menu .cancel-icon {
    position: absolute;
    display: initial;
    top: 25px;
    right: 25px;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 2.2rem;
    color: #46B20F;
  }
  .header .header-nav .menu .menu-list {
    display: block;
    width: 300px;
  }
  .header .header-nav .menu .menu-list .menu-item {
    padding: 0 0 35px 40px;
  }
  .header .header-nav .menu .menu-list .menu-item.active .menu-link {
    padding-bottom: 0;
    border: 0;
  }
  .header .header-nav .cart-icon {
    padding: 0px;
  }
  .header .header-nav .cart-icon span {
    right: -7px;
  }
  .header .menu-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 2.5rem;
    padding-left: 25px;
  }
  .header .toggle:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .header .toggle:checked ~ .header-nav .menu {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
    z-index: 3;
  }
  .hero .hero-background {
    justify-content: center;
  }
  .hero .hero-background .hero-background__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .achievement .achievement-desc {
    margin-bottom: 120px;
  }
  .achievement .achievement-list {
    display: block;
    height: auto;
  }
  .achievement .achievement-list::before, .achievement .achievement-list::after {
    display: none;
  }
  .achievement .achievement-list .space {
    width: auto;
  }
  .achievement .achievement-list .achievement-block {
    text-align: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 25px;
  }
  .achievement .achievement-list .achievement-block .achievement-customer {
    padding-bottom: 0;
  }
  .achievement .achievement-list .spc-col .achievement-block {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .hero-background .hero-background__text {
    font-size: 6rem;
  }
  .hero .hero-content .hero-sub-heading {
    font-size: 2.6rem;
  }
  .hero .hero-content .hero-heading {
    font-size: 3rem;
  }
  .hero .hero-content .hero-desc {
    text-align: justify;
  }
  .achievement .achievement-desc {
    text-align: justify;
  }
  .achievement .achievement-list .achievement-block .achievement-quantity {
    font-size: 3rem;
  }
  .achievement .achievement-list .achievement-block .achievement-customer {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 575px) {
  .hero .hero-background .hero-background__text {
    font-size: 4rem;
  }
  .hero .hero-content .hero-sub-heading {
    font-size: 2.2rem;
  }
  .hero .hero-content .hero-heading {
    font-size: 2.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
