// Color :
$lightGreenMatcha: rgb(192, 207, 178);
$middleGreenMatcha: rgb(139, 168, 136);
$boldGreenMatcha: rgb(68, 98, 74);
$boxShadow: #628B3C;
$overlayLevel1: rgba(68, 98, 74, 0.2);
$overlayLevel2: rgba(68, 98, 74, 0.3);
$overlayLevel3: rgba(68, 98, 74, 0.4);
$milkYellow: rgb(213, 203, 141);
$skin: rgb(199, 166, 133);


// Font
$mainFont: "Dosis", sans-serif;
$fontSize: 1.8rem;