* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: system-ui, sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

/* quizizz */
.quizizz {
    width: 100%;
    height: 100vh;
    background-image: url(../Image/neom-t3dlLOhdEzs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    background-color: rgba(24, 25, 27, 0.2);
    inset: 0;
    z-index: 1;
}

.btn-start {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 2;
}

.btn-start button {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 20px 50px;
    cursor: pointer;
}

.countdown {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 2;
}

.countdown .background-countdown {
    width: 100%;
    background-color: rgb(9, 9, 9);
    text-align: center;
}

.countdown span {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    padding: 15px 0px;
    transform: scale(0);
    transition: transform 0.5s linear;
}

/* Container */

.container {
    position: relative;
    z-index: 3;
    transform: translateX(-110%);
    padding-top: 5px;
    margin: 0px 20px;
    transition: transform 0.5s linear;
}

.progress-bar {
    width: 100%;
    height: 8px;
    border-radius: 99px;
    background-color: rgb(74, 63, 55);
    margin-bottom: 5px;
}

.progress-bar .progress {
    width: 100%;
    height: 100%;
    border-radius: 99px;
    background-color: rgb(220, 141, 56);
}

.calc-point {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calc-point .wrap {
    display: flex;
    align-items: center;
}

.calc-point .number-question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(140, 140, 140);
    border-radius: 5px;
    margin-right: 15px;
}

.calc-point .number-question p {
    color: white;
    line-height: 1;
}

.calc-point .number-question p span:first-child {
    font-size: 1.8rem;
}

.calc-point .strike-bar {
    position: relative;
    width: 300px;
    height: 45px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
}

.calc-point .strike-bar .strike {
    position: absolute;
    left: 6px;
    top: 50%;
    translate: 0 -50%;
}

.calc-point .strike-bar .strike-progress {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(238, 183, 81);
    transition: width 0.4s linear;
}


.calc-point .strike-bar .strike-line-left,
.calc-point .strike-bar .strike-line-right {
    position: absolute;
    background-color: white;
    top: 50%;
    translate: -50% -50%;
    width: 2px;
    height: 50%;
    border-radius: 99px;
}

.calc-point .strike-bar .strike-line-left {
    left: calc(100% / 3);
}
.calc-point .strike-bar .strike-line-right {
    left: calc((100% / 3)*2);
}

.calc-point .total-point {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(140, 140, 140);
    padding: 15px 20px;
    border-radius: 5px;
}

.question .heading-question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question .heading-question h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

.question .heading-question p {
    font-size: 1.4rem;
    font-style: italic;
}

.question .answers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question .answers .answer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 24%;
    height: 350px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s linear;
    padding: 0px 10px;
}

.question .answers .answer:hover {
    background-color: rgba(24, 160, 190, 0.5);
}

.result {
    display: none;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 5px;
    font-size: 2rem;
    color: white;
    font-weight: 500;
}

.result.correct {
    background-color: #14A44D;
}

.result.incorrect {
    background-color: #DC4C64;
}

/* statistical */
.statistical {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    padding: 0px 15px;
    color: white;
    text-align: center;
}

.statistical .accuracy {
    width: 100%;
    padding: 35px 15px;
    border-radius: 10px;
    background-color: rgb(0,0,0);
    margin-bottom: 20px;
}

.statistical .accuracy h4 {
    margin-bottom: 15px;
}

.statistical .accuracy-bar {
    width: 100%;
    height: 20px;
    border-radius: 99px;
    background-color: #DC4C64;
}

.statistical .accuracy-bar .percent-correct {
    position: relative;
    width: 0%;
    height: 100%;
    border-radius: 99px;
    background-color: #14A44D;
}

.statistical .accuracy-bar .percent-correct .percent {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.4rem;
}

.statistical .info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 15px;
}

.statistical .info .box {
    width: 48%;
    background-color: black;
    border-radius: 10px;
    padding: 20px 0px;
}

.statistical .info .box p {
    color: rgb(197, 197, 197);
    font-weight: 500;
}

.statistical .info .box .number {
    color: white;
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.btn-play-again {
    font-family: system-ui, sans-serif;
    width: 100%;
    padding: 15px;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(136,84,192);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}