:root {
    --container-width: 1200px;
    --container-padding: 15px;
    --column-padding: 20px;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px var(--container-padding);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px calc(-1 * --column-padding / 2);
}

.col-1 {
    --combine-column-into-one: 1;
}

.col-2 {
    --combine-column-into-one: 2;
}

.col-3 {
    --combine-column-into-one: 3;
}

.col-4 {
    --combine-column-into-one: 4;
}

.col-5 {
    --combine-column-into-one: 5;
}

.col-6 {
    --combine-column-into-one: 6;
}

.col-7 {
    --combine-column-into-one: 7;
}

.col-8 {
    --combine-column-into-one: 8;
}

.col-9 {
    --combine-column-into-one: 9;
}

.col-10 {
    --combine-column-into-one: 10;
}

.col-11 {
    --combine-column-into-one: 11;
}

.col-12 {
    --combine-column-into-one: 12;
}

.row [class^='col-'] {
    --column-number-on-row: calc(12 / var(--combine-column-into-one));
    --Final-column-width: calc(100% / var(--column-number-on-row));
    flex-basis: var(--Final-column-width);
    max-width: var(--Final-column-width);
    padding: var(--column-padding / 2);
}

/* 
    Các trường phái Responsive
        Desktop First
        Mobile First
*/

/* 
    Desktop First : Mặc định css ở màn hình to nhất sau đó chỉnh sửa ở các màn hình nhỏ hơn trong media quert
        @media (max-width: 1400px) {}
        @media (max-width: 1200px) {}
        @media (max-width: 992px) {}
        @media (max-width: 768px) {}
        @media (max-width: 576px) {}
*/

/* 
    Mobile First : Đối lập với Desktop First
        @media (min-width: 576px) {}
        @media (min-width: 768px) {}
        @media (min-width: 992px) {}
        @media (min-width: 1200px) {}
        @media (min-width: 1400px) {}
*/

/* 
    Grid System Responsive
        .col-{number} < 576px

        .col-sm-{number} >= 576px

        .col-md-{number} >= 768px

        .col-lg-{number} >= 992px

        .col-xl-{number} >= 1200px

        .col-xxl-{number} >= 1400px

    Có thể thay đổi kích thước tùy vào dự án
*/

@media (min-width: 576px) {
    .col-sm-1 {
        --combine-column-into-one: 1;
    }
    
    .col-sm-2 {
        --combine-column-into-one: 2;
    }
    
    .col-sm-3 {
        --combine-column-into-one: 3;
    }
    
    .col-sm-4 {
        --combine-column-into-one: 4;
    }
    
    .col-sm-5 {
        --combine-column-into-one: 5;
    }
    
    .col-sm-6 {
        --combine-column-into-one: 6;
    }
    
    .col-sm-7 {
        --combine-column-into-one: 7;
    }
    
    .col-sm-8 {
        --combine-column-into-one: 8;
    }
    
    .col-sm-9 {
        --combine-column-into-one: 9;
    }
    
    .col-sm-10 {
        --combine-column-into-one: 10;
    }
    
    .col-sm-11 {
        --combine-column-into-one: 11;
    }
    
    .col-sm-12 {
        --combine-column-into-one: 12;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        --combine-column-into-one: 1;
    }
    
    .col-md-2 {
        --combine-column-into-one: 2;
    }
    
    .col-md-3 {
        --combine-column-into-one: 3;
    }
    
    .col-md-4 {
        --combine-column-into-one: 4;
    }
    
    .col-md-5 {
        --combine-column-into-one: 5;
    }
    
    .col-md-6 {
        --combine-column-into-one: 6;
    }
    
    .col-md-7 {
        --combine-column-into-one: 7;
    }
    
    .col-md-8 {
        --combine-column-into-one: 8;
    }
    
    .col-md-9 {
        --combine-column-into-one: 9;
    }
    
    .col-md-10 {
        --combine-column-into-one: 10;
    }
    
    .col-md-11 {
        --combine-column-into-one: 11;
    }
    
    .col-md-12 {
        --combine-column-into-one: 12;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        --combine-column-into-one: 1;
    }
    
    .col-lg-2 {
        --combine-column-into-one: 2;
    }
    
    .col-lg-3 {
        --combine-column-into-one: 3;
    }
    
    .col-lg-4 {
        --combine-column-into-one: 4;
    }
    
    .col-lg-5 {
        --combine-column-into-one: 5;
    }
    
    .col-lg-6 {
        --combine-column-into-one: 6;
    }
    
    .col-lg-7 {
        --combine-column-into-one: 7;
    }
    
    .col-lg-8 {
        --combine-column-into-one: 8;
    }
    
    .col-lg-9 {
        --combine-column-into-one: 9;
    }
    
    .col-lg-10 {
        --combine-column-into-one: 10;
    }
    
    .col-lg-11 {
        --combine-column-into-one: 11;
    }
    
    .col-lg-12 {
        --combine-column-into-one: 12;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        --combine-column-into-one: 1;
    }
    
    .col-xl-2 {
        --combine-column-into-one: 2;
    }
    
    .col-xl-3 {
        --combine-column-into-one: 3;
    }
    
    .col-xl-4 {
        --combine-column-into-one: 4;
    }
    
    .col-xl-5 {
        --combine-column-into-one: 5;
    }
    
    .col-xl-6 {
        --combine-column-into-one: 6;
    }
    
    .col-xl-7 {
        --combine-column-into-one: 7;
    }
    
    .col-xl-8 {
        --combine-column-into-one: 8;
    }
    
    .col-xl-9 {
        --combine-column-into-one: 9;
    }
    
    .col-xl-10 {
        --combine-column-into-one: 10;
    }
    
    .col-xl-11 {
        --combine-column-into-one: 11;
    }
    
    .col-xl-12 {
        --combine-column-into-one: 12;
    }
}

@media (min-width: 1400px) {
    .col-xxl-1 {
        --combine-column-into-one: 1;
    }
    
    .col-xxl-2 {
        --combine-column-into-one: 2;
    }
    
    .col-xxl-3 {
        --combine-column-into-one: 3;
    }
    
    .col-xxl-4 {
        --combine-column-into-one: 4;
    }
    
    .col-xxl-5 {
        --combine-column-into-one: 5;
    }
    
    .col-xxl-6 {
        --combine-column-into-one: 6;
    }
    
    .col-xxl-7 {
        --combine-column-into-one: 7;
    }
    
    .col-xxl-8 {
        --combine-column-into-one: 8;
    }
    
    .col-xxl-9 {
        --combine-column-into-one: 9;
    }
    
    .col-xxl-10 {
        --combine-column-into-one: 10;
    }
    
    .col-xxl-11 {
        --combine-column-into-one: 11;
    }
    
    .col-xxl-12 {
        --combine-column-into-one: 12;
    }
}