@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --Base-color: rgb(248,96,97);
    --Background-light-pink: rgb(254,245,245);
    --Navbar-text-color: rgb(77, 77, 77);
    --Navbar-icon-color: #212529;
    --Heading-color: rgb(46, 46, 46);
    --Desc-color: rgb(103, 103, 103);
    --Box-shadow-item: rgb(254, 106, 106);
    --Title-color: rgb(3, 166, 107);
    --Title-color-2: rgb(249, 186, 69);
    --Container-padding: 12px;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: 558px;
    padding: 0 var(--Container-padding);
}

/* Begin header */

.header {
    padding: 40px 0px;
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* End */

/* Begin logo */

.logo-link {
    display: inline-block;
    font-size: 0;
    width: 255px;
}

.logo-link__img {
    height: 42px;
}

.navbar {
    padding: 8px 0px;
}

/* End */

/* Begin icon-burger */

.icon-burger {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.25rem;
}

.icon-burger__size {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.icon-burger__layer {
    display: inline-block;
    width: 80%;
    height: 2px;
    background-color: rgba(0,0,0,.55);
    margin-bottom: 6px;
    border-radius: 99px;
}

.icon-burger__layer:last-child {
    margin-bottom: 0;
}

/* End */

/* Begin navbar__group */

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    display: inline-block;
    margin: 0 16px;
    color: var(--Navbar-text-color);
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.2s linear;
}
.navbar__link.active {
    color: #F55253;
}

.navbar__link:hover {
    color: #F55253;
}

.navbar__search {
    position: relative;
}

.navbar__search::after {
    content: "2";
    font-family: 'Poppins', sans-serif;
    position: absolute;
    background: #F54B4B;
    box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #FFFDFD;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -14px;
    right: -3px;
}

.navbar__input {
    width: 288px;
    height: 48px;
    outline: none;
    border: none;
    padding: 12px 66px 12px 44px;
    border-radius: 8px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
}

.navbar__input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #2E2E2E;
    -webkit-transition: .2s all ease;
    transition: .2s all ease;
}

.icon-search {
    position: absolute;
    font-size: 1.6rem;
    color: rgb(164, 164, 164);
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
}

.icon-basket {
    position: absolute;
    font-size: 2.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: rgb(66,55,55);
}

.icon-basket::after {
    position: absolute;
    content: '';
    background: #F2F2F2;
    height: 27px;
    width: 2px;
    left: -16px;
    top: -2px;
}

.navbar__list,
.navbar__search {
    display: none;
}

/* End navbar__group */

/* Responsive */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .icon-burger {
        display: none;
    }

    .navbar__list,
    .navbar__search {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .icon-burger {
        display: none;
    }

    .navbar__list,
    .navbar__search {
        display: flex;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .icon-burger {
        display: none;
    }

    .navbar__list,
    .navbar__search {
        display: flex;
    }
}