@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-size: 0;
}

:root {
    --Base-color: rgb(248,96,97);
    --Background-light-pink: rgb(254,245,245);
    --Navbar-text-color: rgb(77, 77, 77);
    --Navbar-icon-color: #212529;
    --Heading-color: rgb(46, 46, 46);
    --Desc-color: rgb(103, 103, 103);
    --Box-shadow-item: rgb(254, 106, 106);
    --Title-color: rgb(3, 166, 107);
    --Title-color-2: rgb(249, 186, 69);
    --Container-padding: 12px;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: 575px;
    padding: 0 var(--Container-padding);
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 8px;
    letter-spacing: 0.01em;
    line-height: 2.4rem;
}

.heading {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--Heading-color);
    line-height: 4.4rem;
}

.desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #676767;
}

.btn {
    display: inline-flex;
    min-width: 180px;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: rgb(248,96,97);
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 12px;
    margin-top: 50px;
}

/* Begin header */

.header {
    padding: 40px 0px;
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* End */

/* Begin logo */

.logo-link {
    display: inline-block;
    font-size: 0;
    width: 255px;
}

.logo-link__img {
    height: 42px;
}

.navbar {
    padding: 8px 0px;
}

/* End */

/* Begin icon-burger */

.icon-burger {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.25rem;
}

.icon-burger__size {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.icon-burger__layer {
    display: inline-block;
    width: 80%;
    height: 2px;
    background-color: rgba(0,0,0,.55);
    margin-bottom: 6px;
    border-radius: 99px;
}

.icon-burger__layer:last-child {
    margin-bottom: 0;
}

/* End */

/* Begin navbar__group */

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    display: inline-block;
    margin: 0 16px;
    color: var(--Navbar-text-color);
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.2s linear;
}
.navbar__link.active {
    color: #F55253;
}

.navbar__link:hover {
    color: #F55253;
}

.navbar__search {
    position: relative;
}

.navbar__search::after {
    content: "2";
    font-family: 'Poppins', sans-serif;
    position: absolute;
    background: #F54B4B;
    box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #FFFDFD;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -14px;
    right: -3px;
}

.navbar__input {
    width: 288px;
    height: 48px;
    outline: none;
    border: none;
    padding: 12px 66px 0px 44px;
    border-radius: 8px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
}

.navbar__input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #2E2E2E;
}

.icon-search {
    position: absolute;
    font-size: 1.6rem;
    color: rgb(164, 164, 164);
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
}

.icon-basket {
    position: absolute;
    font-size: 2.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: rgb(66,55,55);
}

.icon-basket::after {
    position: absolute;
    content: '';
    background: #F2F2F2;
    height: 27px;
    width: 2px;
    left: -16px;
    top: -2px;
}

.navbar__list,
.navbar__search {
    display: none;
}

/* End navbar__group */

/* Begin hero */

.hero {
    padding: 60px 0px 10px 0px;
    text-align: center;
}

.hero__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    margin-bottom: 20px;
    background-color: rgb(253,236,236);
    border-radius: 23px;
}

.hero__title--faster {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--Base-color);
    line-height: 1.6rem;
}

.hero__title--img {
    display: inline-block;
    height: 24px;
    margin: 0px 8px;
}

.hero__heading {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5.8rem;
    color: var(--Heading-color);
    letter-spacing: -0.01em;
    margin-bottom: 22px;
}

.hero__heading > span {
    font-weight: 500;
    color: #F54748;
    letter-spacing: -0.05em;
}

.hero__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.005em;
    color: #676767;
    margin-bottom: 22px;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 0 10px 0;
}

.hero__btn--space {
    position: relative;
    width: 167.66px;
    margin-right: 24px;
    background-color: var(--Base-color);
    border-radius: 12px;
    border: 1px solid transparent;
    transition-property: border-color;
    transition: 0.3s linear;
}
.hero__btn--order {
    display: flex;
    align-items: center;
    justify-content: center;
    --height-order-btn: 62px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    border-radius: 12px;
    line-height: var(--height-order-btn);
    transition-property: color, background-color;
    transition: 0.3s linear;
}
.hero__btn--space:hover {
    border-color: var(--Base-color);
}
.hero__btn--space:hover .hero__btn--order {
    color: var(--Base-color);
    background-color: white;
}

.hero__btn--process {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0;
    width: 215.58px;
}

.hero__btn--process > .icon-play {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.3rem;
    color: rgb(253,197,94);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
}

.hero__btn--process > .btn-content {
    font-size: 1.2rem;
    color: black;
}

.hero__img {
    display: block;
    width: 100%;
}

/* End */

/* Begin Service */

.service {
    padding: 50px 0px;
    background-color: var(--Background-light-pink);
}

.service__title,
.service__heading {
    text-align: center;
}

.service__title {
    color: rgb(245, 71, 72);
}

.service__block {
    margin: 60px 0px 20px 0px;
}

.service__item {
    padding: 30px 22px;
    margin: 10px 0px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}

.service__item__img {
    display: inline-block;
    height: 60px;
    filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
}

.service__item__content {
    margin: 60px 0px 10px 0px;
}

.service__item__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.3rem;
    letter-spacing: -0.01;
    margin-bottom: 15px;
}

.service__item__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: #676767;
}

/* End Service */

/* Begin Feature */

.feature {
    padding: 50px 0px;
}

.feature__img {
    display: block;
    width: 100%;
}

.feature__content {
    text-align: center;
    margin: 80px 0px 20px 0;
}

.feature__title {
    color: rgb(3, 166, 107);
}

.feature__heading {
    margin-bottom: 22px;
}

.feature__wrap__btn {
    display: inline-block;
    position: relative;
}

.feature__btn {
    transition: opacity 0.3s linear;
}

.feature__btn.fake {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid var(--Base-color);
    color: var(--Base-color);
    z-index: -1;
}

.feature__wrap__btn:hover .feature__btn {
    opacity: 0;
}
.feature__wrap__btn:hover .feature__btn.fake {
    opacity: 1;
}

.feature.secound {
    padding: 0px 0px 100px 0px;
}

.feature.secound .feature__title {
    color: #F9BA45;
}

/* End Feature */

/* Begin Download */

.download {
    padding: 50px 0px;
    background-color: var(--Background-light-pink);
}

.download__img {
    text-align: center;
}

.download__content {
    margin-top: 80px;
    text-align: center;
}

.download__title {
    color: rgb(245, 71, 72);
}

.download__heading {
    margin-bottom: 22px;
}

.download__link {
    margin: 40px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.download__desc {
    padding-bottom: 20px;
}

.download__platform {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 70px;
    border: 1px solid #EEDCDC;
    border-radius: 12px;
}

.download__platform > span {
    color: #2E2E2E;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
}

/* End Download */

/* Begin Footer */

.footer {
    padding-top: 20px;
    text-align: center;
}

.footer__top {
    padding: 30px 0px;
}

.footer__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 25px 0px 10px 0;
    color: #676767;
}

.footer__content {
    margin: 30px 0px 10px 0px;
}
.footer__content:nth-child(3),
.footer__content:nth-child(2) {
    margin: 40px 0px 10px 0px;
}

.footer__logo {
    margin: 20px 0px;
}

.footer__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #2E2E2E;
}

.footer__list {
    margin: 30px 0px 10px 0px;
}

.footer__link {
    color: #676767;
    font-size: 1.4rem;
    line-height: 4rem;
}

.footer__contact {
    line-height: 2.6rem;
    font-size: 1.4rem;
    margin: 30px 0px 10px 0px;
    color: #888888;
}

.footer__bottom {
    padding: 61px 0 30px 0;
}
.footer__copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #8C8C8C;
}

.footer__policy,
.footer__terms {
    display: inline-block;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #747474;
    margin: 0 10px;
}

/* End */

/*
-------------------------------------------------------------------------------------------------------------------------
    Responsive
-------------------------------------------------------------------------------------------------------------------------
*/

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .hero__btn--space {
        width: 160px;
    }
    .hero__btn--order {
        --height-order-btn: 72px;
        font-size: 1.6rem;
    }

    .hero__btn--process {
        width: 200px;
    }
    .hero__btn--process > .icon-play {
        width: 70px;
        height: 70px;
        font-size: 1.4rem;
    }
    .hero__btn--process > .btn-content {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .download__link {
        justify-content: center;
    }
    .download__platform:first-child {
        margin-right: 24px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .hero {
        text-align: left;
        padding: 80px 0px;
    }
    .hero__btn {
        justify-content: flex-start;
    }

    .service {
        padding: 100px 0px;
    }
    .service__item {
        width: 275.98px;
        margin: 10px auto;
        padding: 40px 26px;
    }

    .feature__content {
        text-align: left;
        margin: 100px 0px 20px 0px;
    }

    .download__content {
        text-align: left;
    }
    .download__desc,
    .download__heading {
        width: 90%;
    }
    .download__link {
        justify-content: flex-start;
    }
    .download__platform:first-child {
        margin-right: 55px;
    }

    .footer__condition {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .icon-burger {
        display: none;
    }

    .navbar__list,
    .navbar__search {
        display: flex;
    }

    .hero__btn--space {
        margin-right: 40px;
    }

    .feature.secound {
        padding: 50px 0px 50px 0px;
    }
    .feature.secound .two{
        order: 1;
    }
    .feature.secound .one {
        order: 2;
    }
    .feature.secound .feature__heading {
        max-width: 90%;
    }

    .download {
        padding: 100px 0px;
    }
    .download__platform {
        width: 188px;
    }
    .download__platform:first-child {
        margin-right: 0px;
    }

    .footer {
        text-align: left;
        padding-top: 50px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .hero__heading {
        font-size: 4.8rem;
    }
    .hero__desc {
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: 0.005em;
        max-width: 80%;
    }

    .hero__btn--space {
        width: 186px;
    }
    .hero__btn--order {
        --height-order-btn: 72px;
        font-size: 2rem;
    }

    .hero__btn--process {
        justify-content: space-between;
        width: 224px;
        transform: translateX(-34px);
    }
    .hero__btn--process > .icon-play {
        width: 70px;
        height: 70px;
        font-size: 1.6rem;
    }
    .hero__btn--process > .btn-content {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .service__item {
        width: 272.66px;
    }
    .service__item__heading {
        font-size: 2.2rem;
    }

    .feature.secound .feature__content {
        margin: 200px 0 20px 0;
    }

    .download__platform {
        width: 200px;
    }
    .download__platform:first-child {
        margin-right: 54px;
    }

    .footer__contact,
    .footer__link,
    .footer__desc {
        font-size: 1.6rem;
    }

    .footer__desc {
        width: 80%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .hero__heading {
        font-size: 7.4rem;
        line-height: 8.8rem;
    }

    .hero__btn--process {
        transform: translateX(-4px);
    }

    .service__item {
        width: 302.66px;
        padding: 50px 28px;
        margin: 20px auto;
    }
    .service__heading {
        width: 50%;
        margin: 0 auto;
    }

    .feature__content {
        margin-top: 180px;
    }
    .title {
        font-size: 1.8rem;
    }

    .heading {
        font-size: 4rem;
        line-height: 5.4rem;
    }

    .service__item__content {
    }
    .service__item__heading {
        font-size: 2.2rem;
        line-height: 3.3rem;
    }

    .feature__desc {
        font-size: 1.8rem;
        width: 70%;
    }
    .feature__btn {
        min-width: 200px;
        height: 70px;
        font-size: 2rem;
        font-weight: 500;
    }

    .feature.secound .feature__desc {
        width: 80%;
    }

    .download__platform {
        height: 82px;
    }
    .download__platform > span {
        font-size: 2rem;
    }
    .download__platform:first-child {
        margin-right: 15px;
    }
    .download__link {
        margin-top: 60px;
    }

    .footer__desc {
        width: 70%;
    }
}