* {
    margin: 0;
    padding: 0;
}

/* .wrap {
    text-align: center;
}

.regis-btn {
    border: none;
    background-color: green;
    color: white;
    height: 30px;
    border-radius: 99px;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
} */

/* width và height chỉ hoạt động với thẻ block */
.box {
    background-color: green;
    width: 100vw;
    height: 100vh;
}

/*
.span {
    display: block;
    border: 1px solid red;
    width: 200px;
    height: 200px;
} */

.container {
    border: 1px solid red;
    width: 400px;
    word-spacing: 0;
}

/* 
    vw = viewport width
    vh = viewport height    
*/

/* Tại sao img lại có thể set width và height mặc dù nó là thẻ inline */
/* Tại sao các thẻ inline lại có các khoảng cách cột và hàng giữa các phần tử */
/* ==> inline đối xử như text, tìm hiểu cấu tạo của một text */