.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.toggle-theme i {
    font-size: 2rem;
    transform: rotate(-20deg);
    cursor: pointer;
}