@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

button,
input {
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    max-width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
}
button {
    cursor: pointer;
}

/* ----------------------------------------------------------- */
/* todo-wrap */
/* ----------------------------------------------------------- */

.app {
    margin: 40px 15px 0px 15px;
}

.todo-wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
    background-color: rgb(51,65,85);
    border-radius: 4px;
    text-align: center;
    padding: 30px 20px;
}

.todo-wrap h2 {
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

/* ----------------------------------------------------------- */
/* todo-form */
/* ----------------------------------------------------------- */

.todo-form {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(23,184,166);
    font-size: 0px;
    width: fit-content;
    margin: 0px auto 20px auto;
}

.todo-form .input-add {
    width: 280px;
    margin-right: 8px;
    padding: 8px 15px;
    border-radius: 3px;
    color: white;
    background-color: transparent;
}
.todo-form .input-add::placeholder {
    color: rgb(164, 164, 164);
}

.todo-form .button-add {
    width: 120px;
    font-weight: 800;
    color: white;
    background-color: rgb(23,184,166);
    padding: 9px 0px;
    border-radius: 3px;
}

/* ----------------------------------------------------------- */
/* todo */
/* ----------------------------------------------------------- */

.todo {
    width: 760px;
    max-width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 15px 25px;
    margin: 0px auto 20px auto;
    text-align: left;
}

.todo .name-task {
    word-wrap: break-word;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(23,184,166);
    border-radius: 4px;
}

.todo .name-task.completed {
    text-decoration: line-through;
    color:rgb(154, 154, 154)
}

.todo-form-edit .control .button-escape,
.todo-form-edit .control .button-update,
.todo .control .button-edit,
.todo-form-edit .control .button-delete,
.todo .control .button-delete {
    font-weight: 800;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    margin-right: 5px;
}

.todo .control button:last-child {
    margin-right: 0;
}

.todo-form-edit .control .button-update,
.todo .control .button-edit {
    background-color: rgb(23,184,166);
}

.todo-form-edit .control .button-delete,
.todo .control .button-delete {
    background-color: rgb(237,94,105);
}

.todo-form-edit .control .button-escape {
    background-color: rgb(249,115,22);
}

/* ----------------------------------------------------------- */
/* todo-form-edit */
/* ----------------------------------------------------------- */

.todo-form-edit {
    width: 760px;
    max-width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 15px 25px;
    margin: 0px auto 20px auto;
    text-align: left;
}

.todo-form-edit .input-edit {
    color: rgb(66, 66, 66);
    padding: 12.3px 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(23,184,166);
    border-radius: 4px;
    width: 100%;
}
.todo-form-edit .input-edit.line {
    text-decoration: line-through;
}
.todo-form-edit .input-edit::placeholder {
    color: rgb(151, 151, 151);
}

.todo-form-edit .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-form-edit .control button {
    margin-right: 0;
}

.todo-form-edit .control .is-complete {
    display: flex;
    align-items: center;
}

.todo-form-edit .control .is-complete label {
    margin-right: 5px;
    font-weight: 600;
    color: rgb(66, 66, 66);
}

.todo-form-edit .control .is-complete input {
    width: 15px;
    height: 15px;
}

/* ----------------------------------------------------------- */
/* spinner-loading */
/* ----------------------------------------------------------- */

.spinner-loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1)
}