@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
  color: rgb(68, 98, 74);
}

a {
  display: inline-block;
  text-decoration: none;
  color: rgb(199, 166, 133);
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
}

.flexbox {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

@keyframes bounce {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}
.header {
  position: relative;
  width: 100%;
  height: 552px;
}
.header .carousel {
  user-select: none;
  position: relative;
  height: 100%;
}
.header .carousel .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(68, 98, 74, 0.2);
}
.header .carousel .carousel-overflow {
  height: 100%;
  font-size: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.header .carousel .carousel-overflow .carousel-inner {
  white-space: nowrap;
  height: 100%;
}
.header .carousel .carousel-overflow .carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.header .container {
  position: absolute;
  width: 1200px;
  max-width: 100%;
  top: 0;
  left: 50%;
  translate: -50%;
}
.header .container .header-content {
  color: white;
  font-weight: bold;
  margin-bottom: 80px;
}
.header .container .header-content .name-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.header .container .header-content .name-icon .name-owner {
  font-size: 2rem;
  font-weight: 600;
}
.header .container .header-content .name-icon .bars-icon {
  display: none;
  font-size: 2.8rem;
}
.header .container .header-content .heading-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 85px;
}
.header .container .header-content .heading-icon .main-heading {
  font-size: 7rem;
  max-width: 721px;
}
.header .container .header-content .heading-icon .btn-down {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 0;
  color: rgb(68, 98, 74);
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 99px;
  cursor: pointer;
  filter: drop-shadow(-3px 3px 18px #628B3C);
}
.header .container .header-content .heading-icon .btn-down i {
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.header .container .dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 99px;
  background-color: white;
  margin-right: 10px;
  transition-property: width background-color;
  transition: 0.4s linear;
  cursor: pointer;
}
.header .container .dots .dot:last-child {
  margin-right: 0;
}
.header .container .dots .dot.active {
  width: 40px;
  background-color: rgb(139, 168, 136);
}
.header .navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 1200px;
  max-width: 100%;
  top: 40px;
  left: 50%;
  translate: -50%;
  z-index: 1;
}
.header .navbar .nav-list {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: white;
  padding-left: 40px;
  border-radius: 20px;
}
.header .navbar .nav-list .nav-item {
  position: relative;
  padding-right: 40px;
  font-size: 0;
}
.header .navbar .nav-list .nav-item .nav-link {
  position: relative;
  padding: 11px 0px;
  font-size: 1.8rem;
  font-weight: 600;
  overflow: hidden;
  color: rgb(68, 98, 74);
}
.header .navbar .nav-list .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  border-radius: 99px;
  translate: -100%;
  background-color: rgb(68, 98, 74);
  transition: translate 0.4s ease;
}
.header .navbar .nav-list .nav-item .nav-link:hover::before {
  translate: 0;
}
.header .navbar .nav-list .nav-item .nav-link.active::before {
  translate: 0;
}
.header .navbar .nav-list .nav-item .subnav-list {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  top: 54px;
}
.header .navbar .nav-list .nav-item .subnav-list .subnav-item .subnav-link {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(68, 98, 74);
  padding: 11px 40px 0px 20px;
  width: max-content;
}
.header .navbar .nav-list .nav-item .subnav-list .subnav-item:last-child .subnav-link {
  padding-bottom: 11px;
}
.header .navbar .nav-list .nav-item .subnav-list::before {
  content: "";
  position: absolute;
  inset: 0;
  top: -10px;
  z-index: -1;
}
.header .navbar .nav-list .nav-item:hover .subnav-list {
  display: block;
}
.header .navbar .nav-list .nav-item:last-child .subnav-list {
  right: 0;
}
.header .navbar .btn-cancel-navbar {
  display: none;
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  background-color: rgb(213, 203, 141);
  color: white;
  padding: 10px 60px;
  border-radius: 20px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.header .overlay-navbar {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: opacity, visibility;
  transition: 0.4s linear;
}

@media screen and (max-width: 1399.98px) {
  .header .navbar {
    padding-right: 15px;
  }
}
@media screen and (max-width: 1199.98px) {
  .header .container .header-content .name-icon .bars-icon {
    display: inline-block;
  }
  .header .navbar {
    justify-content: flex-start;
    max-width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    translate: 0;
    padding: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition-property: opacity, transform;
    transition: 0.4s linear;
  }
  .header .navbar .nav-list {
    display: block;
    border-radius: 0;
    padding: 0;
    width: 100%;
  }
  .header .navbar .nav-list .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .header .navbar .nav-list .nav-item .nav-link {
    padding: 20px 0px;
  }
  .header .navbar .nav-list .nav-item .subnav-list {
    display: none;
    position: static;
    background-color: none;
    margin-top: 20px;
    width: fit-content;
    background-color: rgb(192, 207, 178);
  }
  .header .navbar .nav-list .nav-item .subnav-list .subnav-item {
    text-align: center;
  }
  .header .navbar .nav-list .nav-item .subnav-list .subnav-item .subnav-link {
    padding: 0px 60px 20px 60px;
    width: auto;
  }
  .header .navbar .nav-list .nav-item .subnav-list .subnav-item:first-child .subnav-link {
    padding-top: 20px;
  }
  .header .navbar .nav-list .nav-item .subnav-list .subnav-item:last-child .subnav-link {
    padding-bottom: 20px;
  }
  .header .navbar .nav-list .nav-item:first-child .nav-link {
    padding-top: 80px;
  }
  .header .navbar .btn-cancel-navbar {
    display: block;
  }
  .header .overlay-navbar {
    inset: 0;
  }
  .header .toggle:checked + .navbar {
    transform: translateX(0%);
    opacity: 1;
    z-index: 2;
  }
  .header .toggle:checked ~ .overlay-navbar {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
}
@media screen and (max-width: 991.98px) {
  .header .container .header-content .heading-icon .main-heading {
    font-size: 5rem;
    max-width: 520px;
  }
}
@media screen and (max-width: 767.98px) {
  .header .container .header-content {
    margin-bottom: 80px;
  }
  .header .container .header-content .heading-icon {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header .container .header-content .heading-icon .main-heading {
    font-size: 4rem;
    max-width: 420px;
    margin-bottom: 40px;
  }
  .header .container .header-content .heading-icon .btn-down {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }
  .header .container .dots {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  .header {
    height: 450px;
  }
  .header .container .header-content {
    margin-bottom: 40px;
  }
  .header .container .header-content .name-icon .name-owner {
    font-size: 1.8rem;
  }
  .header .container .header-content .name-icon .bars-icon {
    font-size: 2.6rem;
  }
  .header .container .header-content .heading-icon {
    margin-top: 50px;
  }
  .header .container .header-content .heading-icon .main-heading {
    font-size: 3rem;
  }
}
main {
  position: relative;
  margin-top: -40px;
  background-color: white;
  border-radius: 45px 45px 0px 0px;
}

.anchor {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.anchor .anchor-list {
  position: relative;
  display: flex;
  align-items: center;
}
.anchor .anchor-list .anchor-item {
  padding-right: 40px;
  font-size: 0;
}
.anchor .anchor-list .anchor-item .anchor-link {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(68, 98, 74);
  padding: 11px 0px;
  overflow-x: hidden;
}
.anchor .anchor-list .anchor-item .anchor-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(68, 98, 74);
  bottom: 0px;
  translate: -102%;
  transition: translate 0.4s ease;
}
.anchor .anchor-list .anchor-item .anchor-link:hover::before {
  translate: 0;
}
.anchor .anchor-list .anchor-item:first-child {
  padding-left: 40px;
}
.anchor .anchor-list::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: 20px;
  border: 2px solid rgb(192, 207, 178);
}

@media screen and (max-width: 1199.98px) {
  main {
    min-height: 100vh;
  }
  .anchor {
    display: none;
  }
}
.fixed-contact {
  position: fixed;
  left: 40px;
  bottom: 60px;
}
.fixed-contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(199, 166, 133);
  border-radius: 99px;
}
.fixed-contact a img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
}
.fixed-contact .contact-facebook {
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .fixed-contact {
    left: 20px;
    bottom: 40px;
  }
  .fixed-contact a {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(199, 166, 133);
  }
  .fixed-contact a img {
    width: 25px;
    height: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
