* {
    padding: 0;
    margin: 0;
}

.title {
    position: relative;
    color: green;
    overflow: hidden;
    background-color: aquamarine;
}

.title-ps {
    position: absolute;
    color: red;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: top 0.4s linear;
    overflow: hidden;
}

.title-ps > span {
    position: absolute;
    bottom: 0px;
}

.title:hover > .title-ps {
    top: 0px;
}