* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
    background-color: rgb(204,204,204);
    border-radius: 99px;
    cursor: pointer;
}

.btn {
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 99px;
    top: 4px;
    left: 4px;
}

input:checked + .btn {
    left: calc(100% - 31px);
}